#birthlist-container form label{
    width: fit-content;
    width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
}

#birthlist-container form input {
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
    margin-right: 15px;
}

#birthlist-container form textarea{
    font-size: 0.8em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
    height: 150px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    box-sizing: border-box;
}

#birthlist-container form button{
    width: fit-content;
    width: max-content;
    margin: 0 auto;
}

#birthlist-container #new-birthlist{
    text-align: center;
}

#birthlist-container #new-birthlist button{
    font-size: 0.9em;
    padding: 5px;
    margin-top: 1em;
}

#birthlist-container #birthlist-init .parent-name{
    width: 50%;
}

#birthlist-container #birthlist-init textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 10em;
    min-height: 4em;
}

#birthlist-container #birthlist-init button{
    margin-top: 1em;
    font-size: 0.9em;
    padding: 5px;
}

/* PRODUCT CHOICE */
#birthlist-container #item-choice-birthlist .category-container {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 4em;
    margin: 10px 0;
}

#birthlist-container #item-choice-birthlist .category-container {
    cursor: pointer;
}

#birthlist-container #item-choice-birthlist .category-container .category-image-container img{
    height: 4em;
    width: 4em;
}

#birthlist-container #item-choice-birthlist .category-container .category-name-container{
    width: 100%;
    text-align: left;
    margin-left: 10px;
}

#birthlist-container #item-choice-birthlist .category-items-container{
    flex-wrap: wrap;
}

#birthlist-container #item-choice-birthlist .category-items-container .category-item{
    height: 4em;
    border: 1px solid #BBBBBB;
    border-radius: 3px;
    width: 45%;
    margin: 10px auto;
}

#birthlist-container #item-choice-birthlist .category-items-container .category-item-image-container img{
    height: 4em;
    width: 4em;
}

#birthlist-container #item-choice-birthlist .category-items-container .category-item-texts-container{
    width: 100%;
    justify-content: space-between;
}

#birthlist-container #item-choice-birthlist .category-items-container .category-item-texts-container .item-texts{
    font-size: 0.8em;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
}

#birthlist-container #item-choice-birthlist .category-items-container .category-item-texts-container .item-checkbox{
    margin-left: 0;
    margin-right: 10px;
}

#birthlist-container #item-choice-birthlist .category-items-container .category-item-texts-container label{
    margin-left: 0;
    margin-bottom: 0;
    z-index: 0;
    background: white;
    margin-top: 0;
}

#birthlist-container #item-choice-birthlist #submit-item-choice{
    margin: 0 auto;
    width: -moz-max-content;
    width: fit-content;
}
/* ----- */

/* BIRTHLIST RECAP */
#birthlist-container #birthlist-final #birthlist-summary{
    width: 40%;
    padding: 0.5em 20px 0.5em 0;
    box-sizing: border-box;
    height: -moz-fit-content;
    height: fit-content;
}

#birthlist-container #birthlist-final #birthlist-summary #birthlist-link-container{
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #777777;
}

#birthlist-container #birthlist-final #birthlist-items-container{
    padding-left: 20px;
    border-left: 1px solid;
    width: 60%;
    box-sizing: border-box;
}


/* -- ITEMS */
#birthlist-container #birthlist-final #birthlist-items-container .item{
    height: auto;
    border: 1px solid #BBBBBB;
    border-radius: 3px;
    width: 100%;
    margin: 10px 0;
}

#birthlist-container #birthlist-final #birthlist-items-container .payed{
    color: grey;
}

#birthlist-container #birthlist-final #birthlist-items-container .payed .payed-inner{
    border-bottom: 1px solid #bbbbbb;
}

#birthlist-container #birthlist-final #birthlist-items-container .payed .payed-by{
    text-align: center;
    padding: 4px 0;
}

#birthlist-container #birthlist-final #birthlist-items-container .item .category-item-image-container{
    height: 4em;
}

#birthlist-container #birthlist-final #birthlist-items-container .item img{
    height: 4em;
    width: 4em;
}

#birthlist-container #birthlist-final #birthlist-items-container .category-item-texts-container{
    width: 100%;
    justify-content: space-between;
    height: 4em;
}

#birthlist-container #birthlist-final #birthlist-items-container .item .item-texts{
    font-size: 0.8em;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
}

#birthlist-container #birthlist-final #birthlist-items-container .item .quantity{
    padding-left: 10px;
}

#birthlist-container #birthlist-final #birthlist-items-container .item label{
    width: fit-content;
    width: max-content;
    z-index: 2;
    background: white;
    height: 100%;
    margin: 0;
}

#birthlist-container #birthlist-final #birthlist-items-container .item-add{
    background: #FAFAFA;
    text-align: center;
    height: 4em;
}

#birthlist-container #birthlist-final #birthlist-items-container .item-add:hover{
    background: #F4F4F4;
    cursor: pointer;
}

/* -- */
/* -----*/

/* CUSTOM CHECKBOX */
/* The container */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.custom-checkbox .checkmark {
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 2px 2px 0;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 35%;
    left: 40%;
}
/* ----- */