#customer-area{
    width: 90%;
    margin: 0 auto;
    margin-top: 6em;
    margin-bottom: 2em;
    box-sizing: border-box;
}


#customer-area form{
    width: 100%;
}
#customer-area form div:nth-of-type(1n){
    margin: 5px 0;
}
#customer-area form label{
    font-size: 1.4em;
    margin-right: 5px;
}
#customer-area form input{
    font-size: 1em;
    background: #fbfbfb;
    border: 1px solid #999999;
    padding: 5px;
    border-radius: 10px;
}
#customer-area form button{
    font-size: 0.9em;
    padding: 5px 7px;
    background: #d2d2d2;
    border: 1px solid #888888;
}

#customer-area #tab-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 15px;
}

#customer-area #tabs{
    width: fit-content;
width: max-content;
    padding: 10px;
    box-sizing: border-box;
    color: #222222;
    background: white;
    border-radius: 20px;
    font-size: 1.3em;
    height: 350px;
}

#customer-area #tabs ul :nth-child(1n){
    padding: 6px;
    margin: 6px 0;
    width: 8.2em;
    height: 2em;
    box-sizing: border-box;
    cursor: pointer;
}

#customer-area #tabs .selected{
    border-radius: 6px;
    background-color: #555555;
    border: 1px solid #333333;
    color: white;
}
#customer-area #tabs .non-selected{
    background: none;
    border: none;
    color: #222222;
    border-radius: 6px;
}
#customer-area #tabs .non-selected:hover{
    background: #aaaaaa;
    border-radius: 6px;
    border: 1px solid #cccccc;
    padding: 5px;
}

#customer-area #logout-button{
    margin-top: 10px;
    border-radius: 10px;
    background: #f75b5b;
    display: flex;
    cursor: pointer;
    justify-content: center;
    border: 1px solid #bbbbbb;
    width: 100%;
    height: 2.3em;
    font-size: 1.1em;
}
#customer-area #logout-button:hover{
    background: #dc0e0f;
    border: 1px solid #666666;
}

#customer-area #display{
    padding: 10px;
    width: fit-content;
width: max-content;
    background: white;
    border-radius: 20px;
    margin-left: 15px;
    max-height: 650px;
    overflow-y: auto;
}
#customer-area #display .selected{
    display: flex;
}
#customer-area #display .non-selected{
    display: none;
}

#customer-area #display h2{
    width: fit-content;
width: max-content;
    font-size: 3em;
    font-weight: 600;
}

/* Address-list*/
#customer-area #display #disp-address .address-list{
    margin: 0 15px;
}

#customer-area #display #disp-address .address-list h3{
    text-align: center;
}

#customer-area #display #disp-address .address{
    padding: 10px;
    margin-bottom: 10px;
    background: #eeeeee;
    border-radius: 10px;
}
/* ---- */

/* Orders-list */
#customer-area #display #disp-orders .tabs-orders .order-tab{
    margin: 10px 10px;
    border-bottom: 1px solid #999;
    padding-bottom: 2px;
    cursor: pointer;
}
#customer-area #display #disp-orders .orders-list{
    margin: 0 30px;
}
#customer-area #display #disp-orders .order{
    background: #F7F7F7;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #BBBBBB;
}

#customer-area #display #disp-orders .order:hover{
    cursor: pointer;
    background: #F0F0F0;
}
#customer-area #display #disp-orders .order .date, #customer-area #display #disp-orders .order .status {
    font-size: 1.2em;
}
/* ---- */

/* --------------- */

#customer-area2 {
    width: 900px;
    margin: 0 auto;
    background: white;
    margin-top: 5em;
    margin-bottom: 2em;
    box-shadow: 0 0 4px -2px;
}

#customer-area2 button{
    background: #F7F7F7;
    border: 1px solid #BBBBBB;
}

#customer-area2 #customer-area-header #hello{
    padding: 3em;
}

#customer-area2 #customer-area-header #hello h2{
    font-size: 1.5em;
    font-weight: 600;
    color: #57802f;
}

#customer-area2 #customer-area-header #hello p{
    font-weight: 300;
    font-size: 1em;
}

#customer-area2 #customer-area-header #customer-area-tabs{
    padding: 0 2em;
    border-bottom: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
}

#customer-area2 #customer-area-header #customer-area-tabs a{
    padding: 1em;
}

#customer-area2 #customer-area-header #customer-area-tabs a.selected{
    border-bottom: 2px solid;
}

#customer-area2 #customer-area-header #customer-area-tabs a.selected:hover {
    text-decoration: none;
}

#customer-area2 #customer-area-inner{
    padding: 1em 2em;
}

#customer-area2 #customer-area-inner .personnal-informations{
    padding: 1em 0;
    border-bottom: 1px solid #BBBBBB;
}

#customer-area2 #customer-area-inner .customer-area-bloc .edit-button-container{
    margin-left: auto;
    padding-left: 2em;
    border-left: 1px solid #BBBBBB;
}

#customer-area2 #customer-area-inner .informations-form{
    padding: 0;
}

#customer-area2 #customer-area-inner .informations-form .closed{
    height: 0;
    padding: 0;
    margin: 0;
    border : none;
    font-size: 0;
}

#customer-area2 #customer-area-inner .informations-form label.opened{
    width: fit-content;
    width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
    display: table;
}

#customer-area2 #customer-area-inner .informations-form input.opened{
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
}

#customer-area2 #customer-area-inner .informations-form button.opened{
    background: #ffffff;
    border: 1px solid #bbbbbb;
    width: fit-content;
    width: max-content;
    margin: 15px auto;
    padding: 10px;
}

#customer-area2 #customer-area-inner .password{
    padding: 1em 0;
    border-bottom: 1px solid #BBBBBB;
}

#customer-area2 #customer-area-inner .password-form{
    padding: 0;
}

#customer-area2 #customer-area-inner .password-form .closed{
    height: 0;
    padding: 0;
    margin: 0;
    border : none;
    font-size: 0;
}

#customer-area2 #customer-area-inner .password-form label.opened{
    width: fit-content;
    width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
    display: table;
}

#customer-area2 #customer-area-inner .password-form input.opened{
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
}

#customer-area2 #customer-area-inner .password-form button.opened{
    background: #ffffff;
    border: 1px solid #bbbbbb;
    width: fit-content;
    width: max-content;
    margin: 15px auto;
    padding: 10px;
}

#customer-area2 #customer-area-inner .newsletter{
    padding: 1em 0;
    border-bottom: 1px solid #BBBBBB;
}

#customer-area2 #customer-area-inner .orders-container .orders .order{
    padding: 1em;
    border: 1px solid #BBBBBB;
    margin: 1em 0;
    border-radius: 2px;
}

#customer-area2 #customer-area-inner .orders-container .orders .order .order-link {
    border-left: 1px solid #BBBBBB;
    padding-left: 2em;
    margin-left: auto;
}

#customer-area2 #customer-area-inner .orders-container .orders .order-message{
    padding: 10px 0.5em;
    margin-left: 1.5em;
    border-left: 1px solid #BBBBBB;
}

#customer-area2 #customer-area-inner .address-container .address-list{
    justify-content: space-between;
}

#customer-area2 #customer-area-inner .address-container .address-list h4{
    font-size: 1.1em;
    font-weight: 400;
    text-decoration: underline;
    margin: 0;
}

#customer-area2 #customer-area-inner .address-container .address-list .shipping-address-list, #customer-area2 #customer-area-inner .address-container .address-list .billing-address-list{
    width: 47%;
}


#customer-area2 #customer-area-inner .address-container .address{
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #BBBBBB;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#customer-area2 #customer-area-inner .address-container .address .big-city{
    margin: 0;
    font-size: 1.1em;
    color: #2e8c2e;
    font-weight: 600;
}

#customer-area2 #customer-area-inner .address-container .address .address-summary{
    padding-right: 10px;
}

#customer-area2 #customer-area-inner .address-container .address .address-links{
    margin-left: auto;
    padding-left: 2em;
    border-left: 1px solid #BBBBBB;
}

#customer-area2 #customer-area-inner .address-container .address .address-links button {
    margin: 0.5em 0;
}