#password-lost{
    width: 500px;
    background: white;
    border: 1px solid #BBBBBB;
    margin: 0 auto;
}

#password-lost h1{
    font-size: 1.5em;
    padding: 20px;
    border-bottom: 1px solid #BBBBBB;
}

#password-lost #password-lost-inner{
    padding: 20px;
}

#password-lost #password-lost-inner .information-text{
    font-size: 0.9em;
}

#password-lost #password-lost-inner form{

}

#password-lost #password-lost-inner form label{
    width: fit-content;
width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
}

#password-lost #password-lost-inner form input{
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
}

#password-lost #password-lost-inner form button{
    background: #ffffff;
    border: 1px solid #bbbbbb;
    width: fit-content;
width: max-content;
    margin: 15px auto;
    padding: 10px;
}

#password-lost #password-lost-inner form button img{
    height: 2em;
}

#password-lost #password-lost-inner .password-lost-message-ok{
    color: #5cc348;
    font-size: 0.9em;
}

.password-lost-message-error{
    color: #c3171e;
    margin-bottom: 20px;
}