#password-reset{
    width: 500px;
    background: white;
    margin: 0 auto;
    border: 1px solid #BBBBBB;
}

#password-reset h1{
    padding: 20px;
    font-size: 1.5em;
    border-bottom: 1px solid #BBBBBB;
}

#password-reset #password-lost-inner{
    padding: 20px;
}

#password-reset #password-lost-inner .information-text{
    font-size: 0.85em;
}

#password-reset #password-lost-inner  form label{
    width: fit-content;
width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
}

#password-reset #password-lost-inner form input{
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
}

#password-reset #password-lost-inner form button{
    background: #ffffff;
    border: 1px solid #bbbbbb;
    width: fit-content;
width: max-content;
    margin: 15px auto;
    padding: 10px;
}

#password-reset #password-lost-inner form button img{
    height: 2em;
}