#registration{
    width: 500px;
    margin: 3em auto;
    background: white;
    border: 1px solid #BBBBBB;
}

#registration h1{
    font-size: 1.5em;
    padding: 20px;
    border-bottom: 1px solid #BBBBBB;
}

#registration #registration-inner{
    padding: 20px;
}


#registration form label{
    width: fit-content;
width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
}

#registration form input{
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
}

#registration form button{
    background: #ffffff;
    border: 1px solid #bbbbbb;
    width: fit-content;
width: max-content;
    margin: 15px auto;
    padding: 10px;
}

#registration a{
    width: fit-content;
width: max-content;
    margin: 0 auto;
}