#wishlist-container .title-button{
        margin: 0 0.5rem;
    padding: 0.3rem 1rem;
    background: #f7f7f7;
    border: 1px solid rgb(220,220,220);
    border-radius: 2px;
}

.wishlist-item{
    padding: 1rem;
    box-sizing: border-box;
    width: 13rem;
    margin: 0 0.5rem 1rem 0.5rem;
    background: #ececec;
    border: 1px solid rgba(220, 220, 220, 1);
}

.wishlist-item img{
    height: 11rem;
    width: 11rem;
}

.wishlist-item .title{
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.wishlist-item textarea{
    margin: auto 0 0 0;
    max-width: 100%;
    min-width: 100%;
    min-height: 5rem;
    box-sizing: border-box;
}

.wishlist-item .remove-button{
    margin: 0.5rem 0;
    width: 100%;
    box-sizing: border-box;
}

.wishlist-item .add-to-cart-button{
    margin: 0;
}