footer {
    padding: 1rem 0;
    background: #efefef;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}

footer #copyright{
    width: fit-content;
width: max-content;
    margin: 0 auto;
    display: table;
}

footer #links{
    padding-top: 20px;
}

footer #links div{
    margin: 0 10px;
}

footer .social-link{
    margin:0 0 0.5rem 0;
    background: white;
    border-radius: 2px;
    border: 1px solid rgb(220,220,220);
    padding: 0 4px 0 0;
}

footer .social-link svg{
    height: 1.5rem;
    width: 1.5rem;
}

footer .social-link .social-media-name{
    margin-left: 5px;
}