@import "header.css";
@import "footer.css";
@import "products_display.css";
@import "categories_display.css";
@import "statics.css";
@import "account/connection_page.css";
@import "account/registration_page.css";
@import "account/customer_area.css";
@import "account/password_lost.css";
@import "account/password_reset.css";
@import "product/product_display.css";
@import "category/category.css";
@import "administration/dashboard.css";
@import "administration/dashboard4.css";
@import "administration/dashboard-search.css";
@import "administration/category_management.css";
@import "administration/bill.css";
@import "administration/user.css";
@import "shopping_cart/main.css";
@import "shopping_cart/checkout_stepper.css";
@import "shopping_cart/delivery.css";
@import "shopping_cart/payment.css";
@import "shopping_cart/login_while_ordering.css";
@import "account/birthlist.css";
@import "account/birthlist_visitor.css";

.desktop{
    display: flex !important;
}
.mobile{
    display: none !important;
}

h1{
    margin: 0;
    font-weight: 400;
    font-size: 2.5em;
}
h2{
    margin: 0;
    font-weight: 400;
    font-size: 2em;
}

p{
    margin: 0;
}
.big{
    font-weight: 600;
    font-size: 1.3em;
}
.medium{
    font-weight: 400;
    font-size: 1em;
}
.small{
    font-weight: 400;
    font-size: 0.8em;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.pointer{
    cursor: pointer;
}
a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
a.no-decoration{
    text-decoration: none;
    opacity: 1;
}
a.no-decoration :hover{
    opacity: 0.8;
}
i{
    text-decoration: none;
}
i:hover{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button{
    font-size: 1em;
    background: #efefef;
    border: #dddddd;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

html{
   background:  #efefef;
}

body{
    margin: 0;
    font-family:'Source Sans Pro', sans-serif;
    background: #F8F8F8;
}
main{
    margin: 0;
    padding-top: 8em;
    min-height: 90vh;
    box-sizing: border-box;
    background: #F8F8F8;
}

.vertical{
    display: flex;
    flex-direction: column;
}
.horizontal{
    display: flex;
    flex-direction: row;
}
.top{
    display: flex;
    justify-content: flex-start;
}
.between{
    display: flex;
    justify-content: space-between;
}
.centered{
    display: flex;
    justify-content: center;
}
.end{
    display: flex;
    justify-content: flex-end;
}
.bottom{
    display: flex;
    justify-content: flex-end;
}
.margin-bottom{
    margin: auto 0 0 0;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.overflow-y{
    overflow-y: auto;
}
.overflow-x{
    overflow-x: auto;
}
.minsize-centered{
    width: fit-content;
width: max-content;
    margin: 0 auto;
}
.display{
    display: flex !important;
}
.hidden{
    display: none !important;
}

.transition-fast{
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-out;
}
.transition-medium{
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-out;
}
.transition-slow{
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-out;
}
.crossed{
    text-decoration: line-through;
}

#error-message{
    color: #aa473d;
    margin: 5px 0;
}
#infos-message{
    color:#539048;
    margin: 5px 0;
}

/* Swiper (Banderole) */
.swiper-container{
    width: 100%;
    height: calc((100vw)/4.2 - 1px);
    z-index: 0 !important;
}
.swiper-button-prev{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23eeeeee'%2F%3E%3C%2Fsvg%3E") !important;
    left: 0 !important;
    height: 100% !important;
    top: 21px !important;
    background-color: rgba(0,0,0,0.3);
    padding: 0 8px !important;
}
.swiper-button-next{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23eeeeee'%2F%3E%3C%2Fsvg%3E") !important;
    right: 0 !important;
    height: 100% !important;
    top: 21px !important;
    background-color: rgba(0,0,0,0.3);
    padding: 0 8px !important;
}
.swiper-container .swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper-pagination-bullet{
    opacity: .5 !important;
}
.swiper-pagination-bullet-active{
    background: #EEEEEE !important;
    opacity: 1 !important;
}
/* ---- */

/* Popup */
.popup{
    position: fixed;
}
/* ---- */

/* Fil d'arianne */
#breadcrumb{
    width: fit-content;
    width: max-content;
    text-align: left;
    margin-left: 50px;
}
/* ---- */

/* Certifications */
#certifications{
    height: 16em;
    width: 100%;
    background-color: #333;
    font-size: 0.8rem;
}

#certifications img{
    height: 16em;
    width: 16em;
    cursor: pointer;
}

#certifications img:hover{
    opacity: 0.4;
}

#certifications p{
    margin: auto 0;
}
/* ---- */

/* Website infos */
#website-infos{
    width: 85%;
    margin: 30px auto;
    padding: 10px;
    max-width: 1240px;
    box-sizing: border-box;
    text-align: center;
}
#website-infos h1{
    font-size: 2em;
    text-align: right;
    margin-right: 15px;
}

#website-infos p{
    text-align: left;
    margin: auto 0;
}

#website-infos-bottom{
    background: #333;
    color: white;
    padding: 10px 0;
}

#website-infos-bottom p{
    width: 85%;
    padding: 10px;
    max-width: 1240px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}
/* ---- */