/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/images/categories
/public/images/products
/public/vendor
/public/sitemap.xml
/storage/framework
/storage/*.key
/vendor
/.idea

/public/mix-manifest.json

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.env
.env.backup
.phpunit.result.cache
.DS_STORE

