// Variables
@import 'variables';
// Tagify (for custom tags inputs)
@import '~@yaireo/tagify/src/tagify';

#admin-sidenav.sidenav a{
    color: $dark;
}

#admin-sidenav.sidenav a.active{
    color: $secondary;
    font-weight: bold;
}

#admin-sidenav.sidenav svg.active{
    fill: $secondary;
}

.tagify {
    height: auto !important;
}

#auth-logo, #auth-logo g {
    fill: $secondary !important;
}
