#categories-container-mobile{
    padding: 20px;
}

#categories-container-mobile #category-texts{
    padding-bottom: 20px;
}

#categories-container-mobile #category-texts .category-name{
    font-weight: 600;
}

#categories-container-mobile #category-items-container .sub-category{
    background: #F4F4F4;
    color: black;
    padding: 15px;
    margin-bottom: 20px;
}

#categories-container-mobile #category-items-container .sub-category h2 {
    text-align: center;
}

#categories-container-mobile #category-items-container .product{
    padding: 20px;
    font-size: 1.1em;
    margin-bottom: 10px;
}

#categories-container-mobile #category-items-container .product img{
    border-radius: 4px;
}

#categories-container-mobile #category-items-container .product .price{
    font-weight: 600;
}