#connection{
    padding: 30px;
}

#connection h1{
    text-align: center;
}

#connection form{
    font-size: 1.4em;
    padding: 20px;
}

#connection form label{
    width: fit-content;
width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
}

#connection form input{
    font-size: 1em;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
}

#connection form button{
    margin-top: 20px;
}

#connection a{
    text-align: center;
}