#connection{
    padding: 30px;
}

#connection h1{
    text-align: center;
}

#connection form{
    font-size: 1.4em;
    padding: 20px;
}

#connection form label{
    width: fit-content;
width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
}

#connection form input{
    font-size: 1em;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
}

#connection form button{
    margin-top: 20px;
}

#connection a{
    text-align: center;
}

/* Connection during shopping cart */
#connection-or-register-wrapper #connection-or-register{
    display: flex;
    flex-direction: column !important;
    margin-top: 1rem;
}

#connection-or-register .choice{
    padding: 1rem;
    background: white;
    border: 1px solid rgb(220,220,220);
    margin-bottom: 1rem;
}

#connection-or-register .choice h2{
    font-family: Roboto,sans-serif;
    font-size: 1.5rem;
}

#connection-or-register .choice form{
    padding: 1rem 0;
}

#connection-or-register .choice form button{
    margin-top: 1rem;
    height: 3rem;
    font-size: 1rem;
}

#connection-or-register .choice form button p{
    margin: auto 0;
    font-family: Roboto,sans-serif;
    font-size: 1.1rem;
}

#connection-or-register .choice form button svg{
    height: 2rem;
    width: 2rem;
    margin-left: auto;
}
