footer {
    background: #f4f4f4;
}

footer #copyright {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    padding: 1em 0;
}

footer .top {
    display: flex;
    justify-content: flex-start;
    width: 40%;
    padding: 5%;
}

footer .social-link {
    margin-bottom: 0.5rem;
}

footer svg {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}