#products-display .product{
    width: 45%;
    margin: 10px 2%;
    max-width: 200px;
}

#products-display .product img{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#products-display .product .thumbnail{
    display: none;
}

#products-display .product .text{
    display: flex;
    flex-direction: column !important;
}
#products-display .product .text .name{
    margin-top: 5px;
    font-size: 0.9em;
}
#products-display .product .text .price{
    font-weight: 600;
}

#products-display .product button{
    display: none;
}

.product-display-button-form button{
    padding: 10px;
    margin: 10px 20px 20px;
}