#shopping-cart-main{
    background: #f4f4f4;;
}

#shopping-cart-wrapper{
    padding-top: 20px;
    min-height: 50vh;
}

#checkout-stepper-wrapper{
    text-align: center;
    padding-top: 30px;
}

#checkout-stepper-wrapper .checkout-stepper{
    width: fit-content;
width: max-content;
    margin: auto;
}

#checkout-stepper-wrapper .checkout-stepper .checkout-step{
    padding: 0 10px;
    width: 4.5em;
}

#checkout-stepper-wrapper .checkout-stepper .checkout-step .checkout-step-number{
    box-sizing: border-box;
    height: 30px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #222;
    border-radius: 25px;
    margin: 0 auto 10px;
    font-weight: 600;
}

#checkout-stepper-wrapper .checkout-stepper .checkout-step-current .checkout-step-number{
    background-color: #333333;
    color: white;
}

#shopping-cart-wrapper #shopping-cart-empty{
    text-align: center;
}

#shopping-cart-wrapper #shopping-cart-empty form{
    font-size: 1em;
}

#shopping-cart-wrapper #shopping-cart-empty h1{
    font-weight: 600;
    font-size: 2em;
}

#shopping-cart-wrapper #shopping-cart-empty p{
    font-size: 1.1em;
    margin: 8% 0 4% 0;
}

#shopping-cart-wrapper #shopping-cart-empty button{
    width: 80%;
    margin: auto;
    background: white;
}

#shopping-cart-wrapper #shopping-cart-content{
    margin-top: 20px;
}

#shopping-cart-wrapper #shopping-cart-content .products{

}

#shopping-cart-wrapper #shopping-cart-content .products .product{
    padding: 20px;
    background: white;
    margin: 10px 0;
}

#shopping-cart-wrapper #shopping-cart-content .products .product .product-image{
    margin-right: 10px;
}

#shopping-cart-wrapper #shopping-cart-content .products .product .product-texts{
    width: 50%;
    margin-right: auto;
}

#shopping-cart-wrapper #shopping-cart-content .products .product .product-texts .product-name{
    font-size: 0.9em;
    font-weight: 600;
    padding-bottom: 5px;
}

#shopping-cart-wrapper #shopping-cart-content .products .product .product-texts .product-price{
    font-size: 0.9em;
    padding-bottom: 5px;
}

#shopping-cart-wrapper #shopping-cart-content .products .product .product-texts select{
    padding: 4px;
    border: 1px solid rgb(230,230,230);
}

#shopping-cart-wrapper #shopping-cart-content .products .product button{
    background: #F4F4F4;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(230,230,230);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 30px;
    margin: auto 0;
}

#shopping-cart-wrapper #shopping-cart-content .infos-free-shipping{
    background-color: #F3F3F3;
    text-align: center;
}

#shopping-cart-wrapper #shopping-cart-content .voucher{
    margin: 10px;
    background-color: white;
}

#shopping-cart-wrapper #shopping-cart-content .voucher form{
    font-size: 1em;
}

#shopping-cart-wrapper #shopping-cart-content .voucher #voucher-input{
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

#shopping-cart-wrapper #shopping-cart-content .voucher button{
    background-color: #dedede;
    width: 100%;
}

#shopping-cart-wrapper #shopping-cart-content .total{
    padding: 10px;
}

#shopping-cart-wrapper #shopping-cart-content .total form{
    background: white;
    font-size: 1em;
}

#shopping-cart-wrapper #shopping-cart-content .total .total-without-tax, #shopping-cart-wrapper #shopping-cart-content .total .shipping-price, #shopping-cart-wrapper #shopping-cart-content .total .total-with-tax{
    font-size: 1.2em;
}

#shopping-cart-wrapper #shopping-cart-content .total .total-with-tax{
    font-weight: 600;
}

#shopping-cart-wrapper #shopping-cart-content .total #start-checkout{
    padding-top: 20px;
}

/* DELIVERY */
#delivery-wrapper #delivery-inner{
    margin-top: 20px;
}

#delivery-wrapper #delivery-inner #delivery-choice-container{
    width: 100%;
}

#delivery-wrapper #delivery-inner #delivery-choice #tab-list-mobile{
    font-size: 0.8em;
    background: white;
    justify-content: space-between;
    padding: 20px 20px 16px;
}

#delivery-wrapper #delivery-inner #delivery-choice #tab-list-mobile li{
    padding-bottom: 4px;
}

#delivery-wrapper #delivery-inner #delivery-choice #tab-list-mobile li.selected{
    border-bottom: 1px solid;
}

#delivery-wrapper #delivery-inner #delivery-choice #tab-list-mobile #previous-address-mobile-hidden{
    display: none;
}

#delivery-wrapper #delivery-inner #delivery-choice #display-mobile{
    margin-top: 20px;
    background: white;
}

#delivery-wrapper #delivery-inner #delivery-choice #display-mobile #infos{
    font-size: 0.6em;
}

#delivery-wrapper #delivery-inner #delivery-choice #display-mobile .selected{
    display: flex;
    flex-direction: column;
}

#delivery-wrapper #delivery-inner #delivery-choice #display-mobile .non-selected{
    display: none;
}

/* ---- */

/* PAYMENT */
#payment-wrapper #payment-inner-mobile{
    padding-top: 20px;
}

#payment-wrapper #payment-inner-mobile #payment-container{
    background: white;
}
/* ---- */

#order-summary{
    background: white;
    margin: 20px;
}

#order-summary #order-summary-header{
    padding: 10px;
}

#order #order-summary #order-summary-products{
    border-bottom: 1px solid rgb(230,230,230);
}

#order #order-summary #order-summary-products .product{
    padding: 10px;
}

#order #order-summary #order-summary-products .product .product-image{
    width: 40%;
}

#order #order-summary #order-summary-products .product .product-texts{
    padding-left: 10px;
}

#order #order-summary #order-summary-products .product .product-texts .product-price{
    text-align: right;
    font-weight: 300;
}

#order #order-summary #order-summary-prices{
    padding: 10px;
}

#order #order-summary #order-summary-prices #next-button-mobile{
    width: 100%;
    margin-top: 10px;
}

/* ---- */

/* PAYMENT CHEQUE */
#payment-inner-mobile #payment-container{
    padding: 20px;
}
/* ---- */

/* THANKS */
#payment-inner-mobile .thanks-header{
    padding: 20px;
    background: white;
}

#payment-inner-mobile .thanks-header .thanks-checksign{
    padding-right: 10px;
    color: #00bd00;
}

#payment-inner-mobile .thanks-image{
    padding: 40px;
}
/* ---- */