#all-products-container .category-selector{
    cursor: pointer;
}
#all-products-container .category-selector:hover{
    background: rgba(110, 226, 110, 0.67) !important;
}
#all-products-container .category-selector.selected{
    background: rgba(19, 221, 19, 0.74) !important;
}
#all-products-container .category-selector.selected:hover{
    background: rgba(110, 226, 110, 0.67) !important;
} 

