#product-page{
    padding-top: 4em;
}

#product-page #breadcrumb{
    text-align: center;
    margin: auto;
}

#product-page .thumbnails{
    margin: 2em 2% 0 0;
}

#product-page .thumbnails .thumbnail{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    cursor: pointer;
    margin: 4px 0;
}
#product-page .thumbnails .thumbnail:hover{
    box-shadow: 0 0 10px -3px;
    opacity: 0.9;
}

#product-page .thumbnails :nth-child(1){
    margin-top: 0;
}

#product-page .product{
    width: 75%;
    max-width: 1000px;
    margin: 2em 0;
    border-radius: 10px;
    max-height: 300px;
    margin-right: 10%;
    box-sizing: border-box;
    background: white;
    border: 1px solid #EFEFEF;
}

#product-page .product .product_image img{
    height: 298px;
    width: 298px;
    border-radius: 9px 0 0 9px;
}

#product-page .product .text{
    width: 100%;
}

#product-page .product .text h1{
    font-size: 1.6em;
    padding: 5px 10px;
}

#product-page .product .text .average-mark{
    padding-left: 10px;
    padding-bottom: 2px;
    height: 5em;
}

#product-page .product .text .description-small{
    padding-left: 10px;
    height: 100%;
    max-height: 65%;
    overflow-y: auto;
}

#product-page .product .text .price{
    height: 7em;
    border-radius: 0 0 10px;
    padding: 5px 10px;
    border-top: 1px solid #FAFAFA;
    background: #F4F4F4;
}

#product-page .product .text .price p{
    font-size: 1.3em;
    font-weight: 600;
    padding: 5px;
    margin-right: auto;
}

#product-page .product .text .price select{
    margin: auto 5px;
}

#product-page .product .text .price button{
    background: rgb(248, 248, 248);
    height: fit-content;
    margin: auto 0;
    border: 1px solid #aaaaaa;
    padding: 5px;
    font-size: 0.9em;
}

#product-page #bottom{
    background: white;
    padding: 20px 0;
}

#product-page #bottom .big-description{
    width: 75%;
    max-width: 1000px;
    margin: auto;
}

#product-page #bottom form{
    max-width: 1000px;
    width: 75%;
    padding-top: initial;
    margin: auto;
}

#product-page #bottom #product-review .review-text{
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;

    min-height: 6em;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    max-height: 12em;
}

#product-page #bottom #reviews{
    width: 75%;
    max-width: 1000px;
    margin: auto;
    padding-top: 9em;
}

#product-page #bottom #reviews h2{
    margin-bottom: 10px;
    border-bottom: 1px solid #888888;
    width: fit-content;
    Òwidth: max-content;
    padding-right: 10px;
}



#product-page #bottom #product-review button{
    margin-top: 20px;
    width: 30%;
    margin-left: auto;
}

#product-page #bottom #product-reviews .product-review {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
}

#product-page #bottom #product-reviews .product-review .review-header{
    padding: 10px 0;
    border-bottom: 1px solid #D0D0D0;
}

#product-page #bottom #product-reviews .product-review .review-header .review-customer-name{
    justify-content: center;
    margin-left: 10px;
}

#product-page #bottom #product-reviews .product-review .review-text{
    padding: 10px 0;
}

#product-page form#admin-edit-product{
    margin: 20px 0;
}
#product-page form#admin-edit-product button:hover{
    background-color: white;
}