#checkout-stepper-wrapper{
    margin: 20px 0;
}

#checkout-stepper-wrapper .checkout-stepper{
    text-align: center;
    font-size: 1.2em;
    width: fit-content;
width: max-content; /* Chrome & Safari */
    width: max-content; /* Mozilla & Edge */
    margin: 0 auto;
}

#checkout-stepper-wrapper .checkout-stepper .checkout-step{
    padding-right: 60px;
}

#checkout-stepper-wrapper .checkout-stepper :nth-last-child(1).checkout-step{
    padding: 0;
}

#checkout-stepper-wrapper .checkout-stepper .checkout-step .checkout-step-number{
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #222;
    border-radius: 25px;
    margin: 0 auto 10px;
    font-weight: 600;
}

#checkout-stepper-wrapper .checkout-stepper .checkout-step-current .checkout-step-number{
    background-color: #333333;
    color: white;
}