#delivery-wrapper{
    padding: 4em 0 2em 0;
}

#delivery-wrapper #delivery-inner .delivery-choice, #delivery-wrapper #delivery-inner #map-container{
    width: 500px;
    background: white;
}

#delivery-wrapper #delivery-inner #map-container{
    margin-top: 15px;
}

#map-container.non-selected {
    display: none;
}

#delivery-wrapper #delivery-inner #delivery-choice-container{
    width: 500px;
    box-sizing: border-box;
    margin: 0 20px 20px;
}

/* Address tabs*/
#delivery-wrapper #delivery-inner .delivery-choice #tab-list{
    padding: 15px 0;
}

#delivery-wrapper #delivery-inner .delivery-choice #tab-list li{
    margin: 0 10px;
    padding: 4px;
    border-bottom: 1px solid rgba(255,255,255,0);
    cursor: pointer;
}

#delivery-wrapper #delivery-inner .delivery-choice #tab-list li.selected{
    border-bottom: 1px solid #666666;
}

#delivery-wrapper #delivery-inner .delivery-choice #tab-list #previous-address-hidden{
    display: none;
}
/* ---- */

#delivery-wrapper #delivery-inner .delivery-choice #display .selected{
    display: flex;
    flex-direction: column;
}

#delivery-wrapper #delivery-inner .delivery-choice #display .non-selected{
    display: none;
}

/* New address form*/
#delivery-wrapper #delivery-inner .delivery-choice form{
    padding: 0 40px 40px;
}

#delivery-wrapper #delivery-inner .delivery-choice form select{
    height: 40px;
}

#delivery-wrapper #delivery-inner .delivery-choice form label{
    width: fit-content;
width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
}

#delivery-wrapper #delivery-inner .delivery-choice form input, #delivery-wrapper #delivery-inner .delivery-choice form select{
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
}

#delivery-wrapper #delivery-inner .delivery-choice form #contact-infos{
    margin: 25px 0;
}

#delivery-wrapper #delivery-inner .delivery-choice form #checkbox_billing{
    margin-top: 15px;
}

#delivery-wrapper #delivery-inner .delivery-choice form #checkbox_billing :nth-child(1n){
    cursor: pointer;
}

#delivery-wrapper #delivery-inner .delivery-choice form .shop-address {
    padding: 15px 0;
}

#delivery-wrapper #delivery-inner .delivery-choice form .subtitle-form{
    padding-top: 15px;
    font-size: 1.2em;
}
/* ---- */



/* Summary */
#delivery-wrapper #delivery-inner .order-summary > div{
    margin-bottom: 10px;
}

#delivery-wrapper #delivery-inner .order-summary > form{
    margin-bottom: 10px;
}

#delivery-wrapper #delivery-inner .order-summary .order-items{
    box-sizing: border-box;
    width: 300px;
    padding: 30px;
    background: white;
}

#delivery-wrapper #delivery-inner .order-summary .order-items .product{
    margin: 5px 0;
}

#delivery-wrapper #delivery-inner .order-summary .order-items .product img{
    height: 80px;
    width: 80px;
}

#delivery-wrapper #delivery-inner .order-summary .order-items .product p{
    margin-left: 4px;
}

#delivery-wrapper #delivery-inner .order-summary .order-items .product .name{
    font-size: 0.7em;
}

#delivery-wrapper #delivery-inner .order-summary .order-items .product .price-quantity {
    font-size: 0.8em;
}

#delivery-wrapper #delivery-inner .order-summary .order-items .product .price{
    font-weight: 600;
}

#delivery-wrapper #delivery-inner .order-summary .numbers{
    box-sizing: border-box;
    width: 300px;
    padding: 40px;
    background: white;
}

#delivery-wrapper #delivery-inner .order-summary #start-payment{
    margin-top: 15px;
}

#delivery-wrapper #delivery-inner .order-summary #start-payment button{
    margin-top: 10px;
}
/* ---- */

/* VOUCHER */
#delivery-wrapper #voucher{
    width: 300px;
    box-sizing: border-box;
    padding: 40px;
    background: white;
    margin-top: 10px;
}

#delivery-wrapper #voucher label{
    width: fit-content;
width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
}

#delivery-wrapper #voucher input{
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
}

#delivery-wrapper #voucher button{
    margin-top: 15px;
}
/* ---- */