#connection-or-register-wrapper{
    padding-top: 4em;
}

#connection-or-register{
    margin: auto 50px;
}

#connection-or-register #already-client{
    margin-right: 20px;
}

#connection-or-register #new-client{
    margin-left: 20px;
    height: fit-content;
}

#connection-or-register .choice{
    background: white;
    border: 1px solid #BBBBBB;
}

#connection-or-register .choice h2{
    font-size: 1.5em;
    padding: 15px 30px;
    border-bottom: 1px solid #BBBBBB;
}

#connection-or-register .choice .choice-inner{
    padding: 15px 30px;
}

#connection-or-register .choice .choice-inner .information-text{
    font-size: 0.85em;
}

#connection-or-register .choice .choice-inner form{
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #BBBBBB;
}

#connection-or-register .choice .choice-inner form label{
    width: fit-content;
width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
}

#connection-or-register .choice .choice-inner form input{
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
}

#connection-or-register .choice .choice-inner form button{
    background: #ffffff;
    border: 1px solid #bbbbbb;
    width: fit-content;
width: max-content;
    margin: 15px auto;
    padding: 10px;
}

#connection-or-register .choice .choice-inner form button img{
    height: 2em;
}

#connection-or-register .choice .choice-inner form button p{
    margin: auto 0;
    padding-left: 10px;
}
