#logo{
    height:12rem;
    top:-2rem;
    left:calc(50vw - 6rem);
    cursor: pointer;
}

#logo:hover{
    top:-1rem;
}

.transition{
    transition: all 0.4s ease-out;
}

.transition-fast{
    transition: all 0.3s ease-out;
}

#top-navbar .nav-item:hover{
    box-shadow:0 0 7px 2px rgba(150,150,150,0.6);
}

#bottom-navbar .nav-item:hover{
    background: #9ce849;
}

#bottom-navbar .nav-item.show{
    background: #9ce849;
}

.swiper-slide{
    cursor:pointer;
}