#administration img{
    object-fit: cover;
}

#administration header{
    height: 100%;
    width: 16em;
    box-shadow: none;
    background: #3b3f4d;
}

#administration header h1{
    font-size: 1.5em;
    height: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: limegreen;
    width: 100%;
    font-weight: 600;
}

#administration header .tabs{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#administration header #tabs .tab{
    width: fit-content;
width: max-content;
    margin-left: 20px;
}

#administration header .tabs button{
    width: 100%;
    opacity: 0.8;
    padding: 1em 0;
}

#administration header .tabs button i{
    display: flex;
    justify-content: center;
    margin: 0 15px;
    font-size: 1.7em;
    width: 35px;
}

#administration header .tabs button p{
    width: fit-content;
width: max-content;
    text-align: center;
    font-size: 0.8em;
    margin: 10px 0;
    font-weight: 600;
}

#administration header .tabs .selected{
    background-color: #2d3038;
}
#administration header .tabs .selected i{
    color: white;
}
#administration header .tabs .selected p{
    color: white;
}

#administration header .tabs .non-selected{
    background: none;
}
#administration header .tabs .non-selected i{
    color: #e6e6e6;
}
#administration header .tabs .non-selected p{
    color: #d0d0d0;
}


#administration header .tabs .non-selected:hover{
    background: #53596d;
}

#administration header .tabs .non-selected:hover div i, #administration header .tabs .non-selected:hover div p{
    text-shadow: 0 0 10px #e0e0e0;
    color: white;
}

#administration header #dashboard-version{
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    color: white;
}

#administration main{
    margin: 0 0 0 16em;
    padding: 0;
    background: #f1f1f1;
    box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.7);
}

#administration main #options{
    font-size: 1.5em;
    height: 3em;
    width: 100%;
    box-sizing: border-box;
    background-color: limegreen;
    box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.7);
}

#administration main #display-windows .windows-container.selected, #administration main #display-windows .tab-display .selected{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
}
#administration main #display-windows .windows-container.non-selected, #administration main #display-windows .tab-display .non-selected{
    display: none;
}

#administration main .windows-container{
    margin: 3% auto;
}

#administration main #disp-orders{
    flex-wrap: unset !important;
}

#administration main .windows-container .window{
    border: 1px solid #cccccc;
    background: #fbfbfb;
    margin: 2% 5%;
    height: fit-content;
    border-radius: 10px;
}

#administration main .windows-container #orders-window{
    width: 80%;
}

#administration main .windows-container .window-tabs{
    padding: 15px 15px 0;
    border-bottom: 1px solid #cccccc;
    font-size: 0.8em;
    background: #f2f2f2;
    border-radius: 10px 10px 0 0;
}

#administration main .windows-container .window-tabs .selected{
    border-bottom: 2px solid green;
    display: flex;
    margin: 0 10px -1px;
    cursor: pointer;
}

#administration main .windows-container .window-tabs .non-selected{
    margin: 0 10px -1px;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0);
    display: flex;
}

/* Orders management */
#administration main .orders-list{
    padding: 10px 20px;
    display: flex;
}
#administration main .orders-list.non-selected{
    padding: 0;
    display: none;
}

#administration main .orders-list .order-container{
    margin-bottom: 10px;
}

#administration main .orders-list .order{
    border: 1px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 15px;
}
#administration main .orders-list .order:hover{
    background-color: #ececec;
}
#administration main .orders-list :nth-last-child(1){
    margin-bottom: 0;
}

/*#administration main .order-container .order-details{
    display:none;
}

#administration main .order-container:hover .order-details{
    display: flex;
    flex-direction: column;
}*/

#administration main .orders-list .order-details img{
    margin-right: 10px;
    border-radius: 4px;
}

#administration main .orders-list .order p{
    padding: 10px;
}

#administration main .orders-list .order .date{
    border-right: 1px solid #ccc;
}

#administration main .orders-list .order .payment-method{
    padding: 10px;
    margin: auto;
}

#administration main .orders-list .order .status{
    width: 10em;
    border-left: 1px solid #ccc;
    text-align: center;
}
#administration main .orders-list .order .status-0{
    background-color: yellow;
}
#administration main .orders-list .order .status-1{
    background-color: #75d7f5;
}
#administration main .orders-list .order .status-2{
    background-color: #ee8900;
}
#administration main .orders-list .order .status-3{
    background-color: limegreen;
}
#administration main .orders-list .order .status--1{
    background-color: red;
}

#administration main .orders-list .order-details .order-product{
    margin-bottom: 10px;
}

#administration main .orders-list .order-container .order-details {
    padding: 10px;
    background: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: -10px;
}

#administration main .orders-list .order-container .order-details .address-title {
    font-weight: 600;
}

#administration main .orders-list .order-container .order-details form .status-modifier{
    width:45%;
}

#administration main .orders-list .order-container .order-details form label{
    width: fit-content;
    width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
}

#administration main .orders-list .order-container .order-details form textarea{
    font-size: 0.8em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
    height: 150px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    box-sizing: border-box;
}

#administration main .orders-list .order-container .order-details form select{
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
    height: 40px;
}

#administration main .orders-list .order-container .order-details form button{
    margin-top: 10px;
    padding: 5px 0;
}

#administration main .orders-list .order-container .order-details .bill-link{
    padding: 20px 20px 0;
}

#administration main .summary-window{
    margin: 5% 2%;
    height: fit-content;
    width: 300px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background: #fbfbfb;
}

/* ---- */

/* Products management */
#administration main #disp-products .window{
    width: 90%;
    box-sizing: border-box;
}

#administration main #disp-products .window .window-header{
    border-bottom: 1px solid #ccc;
}

#administration main #disp-products .window-header form{
    padding: 10px;
    display: flex;
    justify-content: center;
    background: #f4f4f4;
    border-radius: 10px 10px 0 0;
}

#administration main #disp-products .window-header form input{
    height: 2em;
    width: 40%;
    font-size: 0.8em;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding-right: 40px;
}

#administration main #disp-products .window-header form button{
    padding: 0;
    background: none;
    margin-left: -30px;
}

#administration main #disp-products .category-container{
    width: 90%;
    margin: 10px auto;
    background: #efefef;
    border: 1px solid #cccc;
    border-radius: 10px;
    cursor: pointer;
}
#administration main #disp-products .category-container:hover{
    border: 1px solid #555;
}
#administration main #disp-products .category-container .add-category{
    width: 100%;
    border-radius: 10px;
}
#administration main #disp-products .category-container .add-category:hover, #administration main #disp-products .category-container .add-product:hover{
    background: #fbfbfb;
}

#administration main #disp-products .category{
    margin: 0;
    width: 100%;
    background: #f6f6f6;
    border-bottom: 0 solid #cccc;
    max-height: 100px;
    border-radius: 10px;
}
#administration main #disp-products .category-container .category-description{
    font-size: 1em;
    overflow-y: auto;
}

#administration main #disp-products .category-management-buttons{
    width: 90%;
    margin: 0 auto;
}
#administration main #disp-products .category-management-buttons .category-container{
    margin: 10px 5px;
}
#administration main #disp-products .category-management-buttons .category-container button{
    width: 100%;
    border-radius: 10px;
}
#administration main #disp-products .product-container{
    width: 90%;
    margin: 0 auto;
}
#administration main #disp-products .product{
    margin: 10px;
    width: 90%;
    border: 1px solid #cccccc;
    background: #f6f6f6;
    max-height: 100px;
    border-radius: 10px;
}
#administration main #disp-products .product-container .buttons{
    margin: 10px;
    max-height: 100px;
    justify-content: space-around;
}
#administration main #disp-products .product-container .buttons button{
    padding: 0;
}
#administration main #disp-products .product-container .buttons button:hover{
    color: #000;
}
#administration main #disp-products .product-container .buttons .empty-star{
    color: #bdbd23;
}
#administration main #disp-products .product-container .buttons .plain-star{
    color:yellow
}
#administration main #disp-products .product-container .buttons .modify{
    color: #4fc34f;
}
#administration main #disp-products .product-container .buttons .clone{
    color: #2890d2;
}
#administration main #disp-products .product-container .buttons .delete{
    color: #e84a4a;
}

#administration main #disp-products .category img, #administration main #disp-products .product img{
    width: 100px;
    height: 100px;
    border-radius: 10px 0 0 10px;
}

#administration main #disp-products .category .texts, #administration main #disp-products .product .text{
    padding: 5px;
    width: 100%;
}

#administration main #disp-products .category .name, #administration main #disp-products .product .product_name{
    font-size: 1.2em;
}

#administration main #disp-products .category .buttons{
    width: 9em;
    padding: 5px;
}
#administration main #disp-products .category .buttons :nth-child(1n) {
    border: 1px solid #aaaaaa;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
}
#administration main #disp-products .category .buttons :nth-child(1n):hover {
    background: #272727;
    color: white;
}
#administration main #disp-products .category .buttons .modify{
    background: limegreen;
}
#administration main #disp-products .category .buttons .delete{
    background: orangered;
}

#administration main #disp-products #highlighted-products-window .highlighted-products-container{
    padding: 15px;
    flex-wrap: wrap;
}

#administration main #disp-products #highlighted-products-window .highlighted-products-container #highlighted-product{
    width: 120px;
    border: 1px solid rgb(220,220,220);
    border-radius: 4px;
    margin: 10px;
}

#administration main #disp-products #highlighted-products-window .highlighted-products-container #highlighted-product img{
    width: 120px;
    height: 120px;
    border-radius: 3px 3px 0 0;
}

#administration main #disp-products #highlighted-products-window .highlighted-products-container #highlighted-product p{
    font-size: 0.85em;
    padding: 4px;
}

#administration main #disp-products #highlighted-products-window .highlighted-products-container #highlighted-product button{
    margin-top: auto;
    border-radius: 0 0 3px 3px;
    background-color: #ff5050;
}

/* Product clone popup*/
#clone-popup{
    position: fixed;
    left: calc((50% - 242px));
    background: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 19px -3px;
    width: 515px;
    box-sizing: border-box;
    margin-left: 7em;
    top: calc(50% - 123px);
    z-index: 1;
}
#clone-popup label{
    width: fit-content;
width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
}
#clone-popup select{
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
    height: 40px;
}
#clone-popup .button{
    width: 13em;
    margin: 15px auto 0;
    box-sizing: border-box;

    text-align: center;

    font-size: 1em;
    background: #efefef;
    border: #dddddd;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}
/* ---- */

/* ---- */

/* Users Management */
#administration main #disp-users #users-window{
    width: 100%;
}

#administration main #disp-users #display-users{
    margin: 10px;
}

#administration main #disp-users #display-users .user{
    margin: 5px;
    padding: 5px;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    background: #f6f6f6;
    border-radius: 5px;
}

#administration main #disp-users #display-users .user .infos .name{
    font-size: 1.4em;
}
/* ---- */

/* Various Management (utils) */
#administration main #disp-various #various-window{
    width: 100%;
}

#administration main #disp-various #display-various .various-element{
    margin: 10px;
}
/* ---- */

/* Voucher */
#administration main #display-various #disp-vouchers .voucher{
    margin: 10px;
    padding: 10px;
    border: 1px dashed;
    border-radius: 10px;
}

#administration main #display-various #disp-vouchers .voucher .name{
    font-size: 2em;
    font-weight: 600;
    width: fit-content;
width: max-content;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

#administration main #display-various #disp-vouchers .voucher button{
    font-size: 1em;
    background: #efefef;
    border: #dddddd;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
    color: red;
    margin-top: 10px;
}

#administration main #voucher-add-wrapper{
    padding: 10%;
}

#administration main #voucher-add-wrapper h1{
    border-bottom: 1px solid;
    margin: 0 auto;
    width: fit-content;
width: max-content;
    margin-bottom: 10px;
}

#administration main #voucher-add-wrapper .voucher-add-form{
    padding: 40px;
    background: white;
    border-radius: 10px;
}

#administration main #voucher-add-wrapper .voucher-add-form label{
    width: fit-content;
width: max-content;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    background: white;
    margin-top: 10px;
}
#administration main #voucher-add-wrapper .voucher-add-form input {
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background: white;
    margin-right: 15px;
}

#administration main #voucher-add-wrapper .voucher-add-form select{
    width: fit-content;
width: max-content;
    margin-bottom: -10px;
    z-index: 1;
    background: white;
    margin-top: 2px;
    margin-right: 15px;
}

#administration main #voucher-add-wrapper .voucher-add-form select{
    height: 37px;
}

#administration main #voucher-add-wrapper .voucher-add-form button{
    padding: 10px;
    margin-top: 30px;
}

/* ---- */