/* HEADER */
#dashboard4 header{
    width: 100vw;
    height: 3.4rem;
    background: #349e26;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #26731c;
}

#dashboard4 header a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

#dashboard4 header h1{
    margin: auto 0;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    width: 15rem;
    font-family: Roboto, sans-serif;
}

#dashboard4 header #administrator-name{
    margin: auto 10px auto 0;
    color: white;
}

#dashboard4 header #extra {
    margin-right: calc(3% + 1rem);
    width: 12rem;
}

#dashboard4 header #extra button{
    background: linear-gradient(180deg,#fff,#f9fafb);
    border: 1px solid #c4cdd5;
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
    border-radius: 3px;
    color: #212b36;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition-property: background,border,box-shadow;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.64,0,.35,1);
    height: 2rem;
    font-size: 0.8rem;
    margin: auto 0;
    padding: 0 15px;
}

#dashboard4 header #extra button.save-button{
    border-color: #65ae3f !important;
    background: linear-gradient(180deg,#85c763,#66c155) !important;
    box-shadow: inset 0 1px 0 0 #83c867, 0 1px 0 0 rgba(22,29,37,.05), 0 0 0 0 transparent !important;
    color: white !important;
}

#dashboard4 #left-header{
    height: calc(100vh - 3.4rem);
    width: 15rem;
    border-right: 1px solid #d4d4d4;
    background: #f4f6f8;
    position: fixed;
    display: flex;
    flex-direction: column;
}

#dashboard4 #left-header #navigation-container{
    margin: 15px;
}

#dashboard4 #left-header #navigation-container li{
    margin-bottom: 7px;
    margin-top: 7px;
}

#dashboard4 #left-header #navigation-container li a {
    display: flex;
}

#dashboard4 #left-header #navigation-container li a img{
    height: 1.5rem;
    width: 1.5em;
}

#dashboard4 #left-header #navigation-container li a svg{
    height: 1.5rem;
    width: 1.5em;
}

#dashboard4 #left-header #navigation-container li a p{
    margin: auto 0 auto 15px;
}

#dashboard4 #left-header #navigation-container li.selected a{
    color: green;
}

#dashboard4 #left-header #navigation-container li.selected a svg{
    fill: green;
}

#dashboard4 #left-header #navigation-container li .sub-selection.selected a{
    color: green;
}

#dashboard4 #left-header #navigation-container .sub-selection-container .sub-selection{
    display: flex;
    margin: 4px 0;
}

#dashboard4 #left-header #navigation-container .sub-selection-container .sub-selection {
    margin-left: calc(1.5rem + 15px);
    font-size: 0.9em;
}

#dashboard4 #left-header #version-container{
    margin: auto auto 15px;
}
/* EXTRA - HEADER */

#dashboard4 header.nouveau{
    background: #f9fafb;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

#dashboard4 header.nouveau h1{
    color: #919eab;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    width: 15rem;
    border-right: 1px solid #e4e4e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: Roboto, sans-serif;
    height: 100%;
}

#dashboard4 header.nouveau a:hover{
    text-decoration: none;
    background: #c4c9ce;
    color: rgb(101, 101, 101);
}

#dashboard4 header.nouveau a:hover h1{
    color: rgb(101, 101, 101);
}

#dashboard4 header.nouveau #administrator-name{
    display: none;
}
/* ---- */

/* MAIN */
#dashboard4 main {
    width: calc(99vw - 15rem);
    min-height: calc(100vh - 3.4rem);
    margin-top: 3.4rem;
    background: #f4f6f8;
    margin-left: 15rem;
    padding: 1.5% 3%;
}

#dashboard4 main h2{
    font-size: 2em;
    font-family: Roboto, sans-serif;
    color: #212b36;
    font-weight: 500;
}

#dashboard4 main .pre-page-title a{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #637381;
    margin: 0 0 10px 0;
}

#dashboard4 main .pre-page-title a:hover{
    text-decoration: none;
    color: #2a2c35;
}

#dashboard4 main .page-title-container #top-button-form button{
    font-size: 0.9rem;
    background: #349e26;
    border: 1px solid #26731c;
    border-radius: 3px;
    padding: 7px 13px;
    cursor: pointer;
    color: white;
    box-shadow: inset 0 1px 0 0 #259217;
}

#dashboard4 main .page-title-container #top-button-form button:hover{
    background: #2f9322;
}

#dashboard4 main #extra-buttons {
    margin-top: 1rem;
}

#dashboard4 main #extra-buttons button{
    background: linear-gradient(180deg,#fff,#f9fafb);
    border: 1px solid #c4cdd5;
    box-shadow: 0 1px 0 0 rgba(22,29,37,.05);
    border-radius: 3px;
    color: #212b36;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition-property: background,border,box-shadow;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.64,0,.35,1);
    height: 2rem;
    font-size: 0.8rem;
    margin: auto 0;
    padding: 0 15px;
}

#dashboard4 main #error-message-container{
    display: table;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #d74343e6;
    border-radius: 3px;
    background: rgba(255, 25, 25, 0.44);
}

#dashboard4 main #error-message-container #error-title{
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

#dashboard4 main #error-message-container #error-message{
    color: black;
}

#dashboard4 main #warning-stock{
    padding: 10px 5px;
    border-radius: 5px;
    background: rgba(249, 246, 72, 0.95);
    margin-top: 1rem;
    border: 1px solid rgb(202, 199, 0);
}

#dashboard4 main #warning-stock li{
    list-style: url('https://www.bebes-lutins.fr/view/assets/images/utils/icon/right-arrow.svg') inside;
}

#dashboard4 main #warning-stock a{
    font-size: 0.9rem;
}

#dashboard4 main #error-product{
    margin-top: 1rem;
    margin-right: 1rem;
    background: rgb(255, 104, 104);
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    border-radius: 3px;
    padding: 1rem;
}

#dashboard4 main #error-product .message{
    font-size: 0.9rem;
}

#dashboard4 main .window{
    background-color: white;
    -webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    margin-top: 2rem;
    border-radius: 3px;
}

#dashboard4 main .window .window-header .window-tabs{
    display: flex;
    padding: 0 10px;
    border-bottom: 1px solid #ebeef0;
}

#dashboard4 main .window .window-header .window-tabs .tab{
    padding: 14px;
    font-size: 0.9rem;
}

#dashboard4 main .window .window-header .window-tabs .tab.selected{
    border-bottom: 3px solid green;
}

#dashboard4 main .window .window-inner{
    padding: 1rem;
}

#dashboard4 main .window .window-inner .search-input-container{
    height: 2rem;
    width: 100%;
    border: 1px solid #c4cdd5;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
    box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
    border-radius: 3px;
}

#dashboard4 main .window .window-inner .search-input-container input{
    border: none;
    height: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 0.8rem;
    width: 100%;
    background: none;
}

#dashboard4 main .window .window-inner table{
    border-collapse: separate;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    width: 100%;
}

#dashboard4 main .window .window-inner th, #dashboard4 main .window .window-inner td{
    font-weight: 400;
    padding: 8px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dashboard4 main .window .window-inner tr:hover{
    background: #f3f3f3;
    cursor: pointer;
}

#dashboard4 main .window .window-inner tr.yellow{
    color: rgb(247, 161, 57);
}

#dashboard4 main .window .window-inner tr.yellow:hover{
    color: rgb(206, 130, 37);
    background: #f3f3f3;
}

#dashboard4 main .window .window-inner tr.yellow a, #dashboard4 main .window .window-inner tr.yellow select{
    color: rgb(247, 161, 57)
}

#dashboard4 main .window .window-inner tr.yellow:hover a, #dashboard4 main .window .window-inner tr.yellow:hover select{
    color: rgb(206, 130, 37);
}

#dashboard4 main .window .window-inner tr.red{
    color: #fb755e;
}

#dashboard4 main .window .window-inner tr.red:hover{
    background: #f3f3f3;
    color: #d96d5b;
}

#dashboard4 main .window .window-inner tr.red a, #dashboard4 main .window .window-inner tr.red select{
    color: #fb755e
}

#dashboard4 main .window .window-inner tr.red:hover a, #dashboard4 main .window .window-inner tr.red:hover select{
    color: #d96d5b;
}

#dashboard4 main .window .window-inner tr.green{
    color: #00d700;
}

#dashboard4 main .window .window-inner tr.green:hover{
    color: #00c500;
}

#dashboard4 main .window .window-inner tr.green a, #dashboard4 main .window .window-inner tr.green select{
    color: #00d700
}

#dashboard4 main .window .window-inner tr.green:hover a, #dashboard4 main .window .window-inner tr.green:hover select{
    color: #00c500;
}

#dashboard4 main .window .window-inner tr.blue{
    color: #0088d7;
}

#dashboard4 main .window .window-inner tr.blue:hover{
    color: #046eac;
}

#dashboard4 main .window .window-inner tr.blue a, #dashboard4 main .window .window-inner tr.blue select{
    color: #0088d7
}

#dashboard4 main .window .window-inner tr.blue:hover a, #dashboard4 main .window .window-inner tr.blue:hover select{
    color: #046eac;
}

#dashboard4 main .window .window-inner .first-row:hover{
    background: inherit;
    cursor: default;
}

#dashboard4 main .window .window-inner td{
    border-top: 1px solid #ebeef0;
}

#dashboard4 main .window .window-inner td img{
    width: 3rem;
    border: 1px solid #d0d0d0;
    height: 3rem;
    border-radius: 2px;
}

#dashboard4 main .window .window-inner table .left{
    text-align: left;
}

#dashboard4 main .window .window-inner table .right{
    text-align: right;
}

#dashboard4 main .window .window-inner table .center{
    text-align: center;
}

#dashboard4 main .window .window-inner table .price{
    width: 5rem;
}

#dashboard4 main .window .window-inner table .phone{
    width: 6rem;
}

#dashboard4 main .window .window-inner table .review{
    width: 20rem;
}

#dashboard4 main .window .window-inner table select{
    height: 100%;
    width: 80%;
    font-size: 0.8rem;
    z-index: 100;
    background: none;
    border: none;
}

#dashboard4 main .window .window-inner table form button{
    font-size: 0.8rem;
    background: #f7f7f7;
    padding: 8px 14px;
    border-radius: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f9fafb));
    background: linear-gradient(to bottom, white, #f9fafb);
    border: 1px solid #c4cdd5;
    -webkit-box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    color: #212b36;
    -webkit-transition-property: background, border, -webkit-box-shadow;
    transition-property: background, border, -webkit-box-shadow;
    transition-property: background, border, box-shadow;
    transition-property: background, border, box-shadow, -webkit-box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
    transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-tap-highlight-color: transparent;
}

#dashboard4 main .window .window-inner table form label{
    font-size: 0.8rem;
    background: #f7f7f7;
    padding: 8px 14px;
    border-radius: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f9fafb));
    background: linear-gradient(to bottom, white, #f9fafb);
    border: 1px solid #c4cdd5;
    -webkit-box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    color: #212b36;
    -webkit-transition-property: background, border, -webkit-box-shadow;
    transition-property: background, border, -webkit-box-shadow;
    transition-property: background, border, box-shadow;
    transition-property: background, border, box-shadow, -webkit-box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
    transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-tap-highlight-color: transparent;
}

#dashboard4 main .window .window-inner table form .add-button-selected, #dashboard4 main .window .window-inner table form .define-button-selected{
    border-radius: 3px 0 0 3px !important;
    border-right: none !important;
    color: white;
    display: block;
    background: #8097ae;
    background: linear-gradient(rgb(140, 140, 140), #8097ae);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(140, 140, 140)), to(#8097ae));
}

#dashboard4 main .window .window-inner table form .add-button{
    border-radius: 3px 0 0 3px !important;
    border-right: none !important;
}

#dashboard4 main .window .window-inner table form #quantity-number{
    margin: 0;
    border: 1px solid #c4cdd5;
    border-right-style: none;
    border-left-style: none;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
    box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
    color: #212b36;

    width: 4rem;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 0.8rem;
}

#dashboard4 main .window .window-inner table form .save-button{
    border-radius: 0 3px 3px 0;
    background: #349d26;
    border: 1px solid #25731c;
    color: white;
}

#dashboard4 main .window .window-inner #voucher-list-container #voucher-list .voucher{
    padding: 0.5rem 0;
    border-top: 1px solid rgb(223, 227, 232);
}

#dashboard4 main .window .window-inner #voucher-list-container #voucher-list .voucher .container{
    margin: 0;
}

#dashboard4 main .window .window-inner #voucher-list-container #voucher-list .voucher .padding-left{
    padding-left: 3rem;
}

#dashboard4 main #in-construction{
    padding: 24% 0;
}

#dashboard4 main .construct-title{
    font-size: 3rem;
    font-weight: 600;
}

#dashboard4 main .construct-description{
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 2rem;
}

#dashboard4 main #in-construction-image{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5.4rem;
    margin-left: 18rem;
    z-index: 0;
}

#dashboard4 main #empty-image{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 12rem;
    margin-left: 19rem;
    z-index: 0;
}

#dashboard4 main #empty{
    position: relative;
    z-index: 100;
    width: 24rem;
    padding-top: 7rem;
}

#dashboard4 main #empty .empty-title{
    font-size: 2.8rem;
    font-weight: 600;
}

#dashboard4 main #empty .empty-description{
    font-size: 1.2rem;
    font-weight: 300;
}
/* ---- */

/* EDITION */
#dashboard4 main .product-page-link-container a{
    margin: 10px 0;
    color: #637381;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

#dashboard4 main .product-page-link-container a svg{
    height: 1.5rem;
    width: 1.5em;
    fill: #637381;
}
#dashboard4 main .product-page-link-container a p{
    margin: auto 5px;
}

#dashboard4 main #edition-wrapper{
    padding-top: 2rem;
}

#dashboard4 main #edition-wrapper label{
    margin: 0 0 0.3rem 0;
}

#dashboard4 main #edition-wrapper label.help{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: #757575;
    font-family: Roboto,sans-serif;
    font-weight: 300;
}

#dashboard4 main #edition-wrapper .label-with-extra p{
    color: #949494;
}

#dashboard4 main #edition-wrapper input, #dashboard4 main #edition-wrapper textarea{
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
    border: 1px solid #c4cdd5;
    font-size: 0.8rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#dashboard4 main #edition-wrapper input:disabled,
#dashboard4 main #edition-wrapper input[disabled]{
    background: rgb(240, 240, 240);
    color: rgb(54, 54, 54);
}

#dashboard4 main #edition-wrapper textarea{
    max-width: 100%;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 11rem;
}

#dashboard4 main #edition-wrapper select{
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
    border: 1px solid #c4cdd5;
    font-size: 0.8rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    background: white;
}

#dashboard4 main #edition-wrapper .column-big{
    width: 70%;
}

#dashboard4 main #edition-wrapper .column-tiny{
    width: 30%;
    margin: 0 1rem;
}

#dashboard4 main #edition-wrapper .edition-window{
    background-color: white;
    -webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    border-radius: 3px;
    padding: 1rem;
    margin: 0.6rem 0;
}

#dashboard4 main #edition-wrapper .container-title .section-title{
    font-size: 1.1rem;
    font-family: Roboto, sans-serif;
    color: #212b36;
    font-weight: 500;
    margin-bottom: 1rem;
}

#dashboard4 main #edition-wrapper .container-title a{
    color: #26af37;
}

#dashboard4 main #edition-wrapper .image-example{
    margin: 4rem auto;
    height: 4rem;
    width: 4rem;
}

#dashboard4 main #edition-wrapper .product-image{
    height: 10rem;
    width: 10rem;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0.5rem;
}

#dashboard4 main #edition-wrapper #thumbnails-container{
    height: 10rem;
    width: 100%;
}

#dashboard4 main #edition-wrapper #thumbnails-container .thumbnail{
    width: 4rem;
    height: 4rem;
    margin: 0 0.5rem;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    box-sizing: border-box;
}

#dashboard4 main #edition-wrapper .label-container{
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(63,63,68,0.05);
    border: 1px solid #c4cdd5;
    font-size: 0.8rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#dashboard4 main #edition-wrapper .label-container .euro-sign{
    margin: auto 0.5rem;
    font-size: 1rem;
    color: grey;
}

#dashboard4 main #edition-wrapper .label-container input{
    border: none;
}

#dashboard4 main #edition-wrapper .preview-container{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #cccccc;
}

#dashboard4 main #edition-wrapper #empty-preview{
    margin-bottom: 1rem;
}

#dashboard4 main #edition-wrapper .preview-container #product-name{
    min-height: 21px;
    display: block;
    font-size: 18px;
    color: #1a0dab;
    line-height: 21px;
    margin-bottom: 2px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-weight: normal;
    font-family: arial,sans-serif;
}

#dashboard4 main #edition-wrapper .preview-container #product-link{
    color: #006621;
    font-style: normal;
    font-size: 14px;
    padding-top: 1px;
    line-height: 1.43;
    font-family: arial,sans-serif;
}

#dashboard4 main #edition-wrapper .preview-container #product-description{
    font-family: arial,sans-serif;
    font-size: small;
    color: #545454;
}

#dashboard4 main #edition-wrapper .column-tiny .product-organisation-container .category,
#dashboard4 main #edition-wrapper .column-tiny .product-organisation-container .tags{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
}

#dashboard4 main #edition-wrapper .container{
    padding-left: 2rem !important;
}

#dashboard4 main #edition-wrapper .container .checkmark{
    left: 0 !important;
}

#dashboard4 main #edition-wrapper #deleting-button{
    border-radius: 3px;
    color: rgb(251, 251, 251);
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition-property: background,border,box-shadow;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.64,0,.35,1);
    height: 2rem;
    font-size: 0.8rem;
    background: linear-gradient(#fa5462, #fc3b41);
    border: 1px solid #fa5462;
    box-shadow: 0 2px 0 0 rgba(22,29,37,.05);
    padding: 0 15px;
}

#dashboard4 main #edition-wrapper #beginning-date-container{
    margin-bottom: 1rem;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 1rem;
}
/* ---- */

/* CUSTOM CHECKMARK */
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 3rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 1rem 0;

    height: 2rem;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 25%;
    left: 1rem;
    height: 1rem;
    width: 1rem;
    background-color: white;
    border: 1px solid #CCC;
    box-shadow: 0 0 0 1px transparent, inset 0 1px 0 0 rgba(22,29,37,.05);
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    border: 1px solid #0c67af
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
    border: 1px solid #0c67af;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* ---- */